---
type Props = {
  classNames?: string | undefined;
  shadow?: boolean | undefined;
  value: string;
};

const { classNames, shadow = true, value } = Astro.props;
---

<h1
  class={classNames ||
    `
      text-[2rem]/10 font-extrabold
      ${shadow ? "[text-shadow:1px_1px_2px_rgba(0,0,0,.25)]" : ""}
      tablet:text-5xl
      laptop:text-7xl
    `}
  data-pagefind-weight="10"
>
  {value}
</h1>
