html {
  height: 100%;
}

body {
  background-color: #e9e7e0;
  font-family: "Charter", "Iowan Old Style", "Georgia", "Cambria",
    '"Times New Roman"', "Times", "serif";
  color: rgba(0, 0, 0, 0.8);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

a {
  color: #7f3663;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10rem;
}

.avatar {
  border-radius: 50%;
}

.content {
  margin-top: 1.5rem;
  font-size: 1.125rem;
  line-height: 1.5;
  text-align: center;
}

.social_list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  width: 175px;
  margin: 1.5rem 0 0;
  padding: 0;
}

.social_icon {
  border-radius: 50%;
}

:root {
  --color-background: #e9e7e0;
  --color-content-background: #fff;
  --color-text-primary: rgba(0, 0, 0, 0.75);
  --color-text-secondary: rgba(0, 0, 0, 0.6);
  --color-text-tertiary: #969696;
  --color-link: #054a93;
  --font-serif: "Charter", "Iowan Old Style", "Georgia", "Cambria",
    '"Times New Roman"', "Times", "serif";
}
