---
import { getCollection } from "astro:content";

import BooklogUpdate from "~/components/booklog-update/BooklogUpdate.astro";
import HeroLayout from "~/components/layout/HeroLayout.astro";
import MovielogUpdate from "~/components/movielog-update/MovielogUpdate.astro";
import UpdateListHeading from "~/components/update-list-heading/UpdateListHeading.astro";

const booklogCollection = await getCollection("booklog");
const movielogCollection = await getCollection("movielog");

const CoverImageConfig = {
  sizes:
    "(min-width: 1760px) 168px, (min-width: 1360px) 10vw, (min-width: 780px) calc(1.61vw + 146px), (min-width: 560px) calc(20vw + 16px), (min-width: 480px) 200px, calc(46.25vw - 13px)",
  width: 200,
};

const StillDefaultImageConfig = {
  height: 362,
  sizes:
    "(min-width: 2020px) 430px, (min-width: 1780px) calc(13.18vw + 166px), (min-width: 1360px) calc(29.75vw - 132px), (min-width: 1120px) 461px, (min-width: 780px) 41.56vw, 83.91vw",
  width: 644,
};

const StillSplashImageConfig = {
  height: 540,
  sizes:
    "(min-width: 1960px) 896px, (min-width: 1760px) 44.44vw, (min-width: 1360px) calc(60vw - 248px), (min-width: 1140px) 960px, (min-width: 840px) calc(77.14vw + 96px), calc(90.77vw - 20px)",
  width: 960,
};

function sorted<T extends { data: { date: Date } }>(items: T[]): T[] {
  return items.toSorted((a, b) => {
    return a.data.date < b.data.date ? 1 : a.data.date > b.data.date ? -1 : 0;
  });
}

const deck = `Mostly <a class="inline-block relative text-accent after:absolute after:bottom-0 after:left-0 after:h-px after:w-full
          after:origin-center after:scale-x-0 after:bg-accent
          after:transition-transform after:duration-500
          hover:after:scale-x-100" href="#movie-reviews">movie reviews</a>, sometimes <a class="text-accent inline-block relative after:absolute after:bottom-0 after:left-0 after:h-px after:w-full
          after:origin-center after:scale-x-0 after:bg-accent
          after:transition-transform after:duration-500
          hover:after:scale-x-100" href="#book-reviews">book reviews</a>.`;

const title = "Frank Showalter";
const description = "Mostly movie reviews, sometimes book reviews.";
---

<HeroLayout
  headProps={{
    canonical: true,
    meta: {
      description,
    },
    openGraph: {
      description,
      type: "website",
    },
    title,
  }}
  heroProps={{
    deck,
    title,
  }}
  logo={false}
>
  <div class="w-full bg-subtle pb-16">
    <div
      class={`
        mx-auto w-full max-w-[1056px] gap-x-16
        tablet:px-container
        laptop:flex laptop:max-w-(--breakpoint-desktop)
      `}
    >
      <nav
        class={`
          w-full max-w-[1056px]
          desktop:grow
        `}
      >
        <UpdateListHeading
          accentText="Movie Reviews"
          href="https://www.franksmovielog.com"
          text="Latest"
        />
        <ol
          class={`
            flex flex-wrap justify-between gap-x-[2%]
            tablet:gap-y-[3vw]
            laptop:gap-y-[3vw]
          `}
        >
          {
            sorted(movielogCollection)
              .slice(0, 5)
              .map((value, index) => {
                return (
                  <MovielogUpdate
                    classNames={`
                  ${
                    index === 0
                      ? `[--review-card-width:100%]`
                      : `tablet:[--review-card-width:48%]`
                  }
                `}
                    element="li"
                    imageConfig={
                      index === 0
                        ? StillSplashImageConfig
                        : StillDefaultImageConfig
                    }
                    value={value.data}
                    variant={index === 0 ? "splash" : "default"}
                  />
                );
              })
          }
        </ol>
        <div
          class={`
            flex px-container py-10
            has-[a:hover]:drop-shadow-lg
          `}
        >
          <a
            class={`
              group/all-reviews mx-auto w-full max-w-[500px] transform-gpu
              rounded-md bg-default pt-5 pb-4 text-center font-sans text-base
              font-medium text-accent transition-all duration-500
              hover:scale-105 hover:bg-accent hover:text-white
            `}
            href="https://www.franksmovielog.com/reviews/"
          >
            <span
              class={`
                relative inline-block pb-1
                after:absolute after:bottom-0 after:left-0 after:h-px
                after:w-full after:origin-center after:scale-x-0
                after:transform-gpu after:bg-white after:transition-transform
                after:duration-500
                group-hover/all-reviews:after:scale-x-100
              `}
            >
              More Movie Reviews
            </span>
          </a>
        </div>
      </nav>
      <nav
        class={`
          mx-auto w-full max-w-[720px]
          laptop:min-w-[548px]
          desktop:shrink
        `}
      >
        <UpdateListHeading
          accentText="Book Reviews"
          href="https://www.franksbooklog.com"
          text="Latest"
        />
        <ol class="flex flex-col gap-y-[2vw]" data-testid="booklog-updates">
          {
            sorted(booklogCollection)
              .slice(0, 5)
              .map((value) => {
                return (
                  <BooklogUpdate
                    element="li"
                    imageConfig={CoverImageConfig}
                    value={value.data}
                  />
                );
              })
          }
        </ol>
        <div
          class={`
            flex px-container py-10
            has-[a:hover]:drop-shadow-lg
          `}
        >
          <a
            class={`
              group/all-reviews mx-auto w-full max-w-[500px] transform-gpu
              rounded-md bg-default pt-5 pb-4 text-center font-sans text-base
              font-medium text-accent transition-all duration-500
              hover:scale-105 hover:bg-accent hover:text-white
            `}
            href="https://www.franksbooklog.com/reviews/"
          >
            <span
              class={`
                relative inline-block pb-1
                after:absolute after:bottom-0 after:left-0 after:h-px
                after:w-full after:origin-center after:scale-x-0
                after:transform-gpu after:bg-white after:transition-transform
                after:duration-500
                group-hover/all-reviews:after:scale-x-100
              `}
            >
              More Book Reviews
            </span>
          </a>
        </div>
      </nav>
    </div>
  </div>
</HeroLayout>
