---
import AstroPageShell from "~/astro/AstroPageShell.astro";
import { Layout } from "~/components/layout/Layout";
---

<AstroPageShell
  canonical={true}
  meta={{
    description: "Test page for navigation menu testing",
  }}
  openGraph={false}
  title="Test Page"
>
  <Layout
    backdrop={{
      centerText: true,
      deck: "For testing only...",
      size: "full",
      title: "Frank Showalter",
    }}
  >
    <div>Test content for navigation menu testing</div>
  </Layout>
</AstroPageShell>
