---
import AstroPageShell from "~/astro/AstroPageShell.astro";
import { Layout } from "~/components/layout";
import { getLayoutBackdropImageProps } from "~/components/Layout/getLayoutBackdropImageProps";

const title = "404 Not Found";
const deck = `"They're coming to get you, Barbra!"`;
const backdropImageProps = await getLayoutBackdropImageProps("not-found");
---

<AstroPageShell
  canonical={false}
  meta={{ description: deck }}
  openGraph={false}
  title={title}
>
  <Layout
    className="flex flex-col bg-subtle"
    logo={true}
    backdrop={{
      deck,
      backdropImageProps,
      title,
      centerText: true,
      size: "full",
    }}><span></span></Layout
  >
</AstroPageShell>
