@import "tailwindcss";

@theme {
  --aspect-cover: 1 / 1.5;

  --background-color-*: initial;
  --background-color-canvas: var(--bg-canvas);
  --background-color-default: var(--bg-default);
  --background-color-footer: var(--bg-footer);
  --background-color-subtle: var(--bg-subtle);
  --background-color-hover: var(--bg-hover);

  --border-color-*: initial;
  --border-color-default: var(--border-default);

  --breakpoint-*: initial;
  --breakpoint-tablet: 768px;
  --breakpoint-tablet-landscape: 1024px;
  --breakpoint-laptop: 1360px;
  --breakpoint-desktop: 1840px;

  --color-*: initial;
  --color-accent: var(--fg-accent);
  --color-default: var(--fg-default);
  --color-inherit: inherit;
  --color-inverse: var(--fg-inverse);
  --color-subtle: var(--fg-subtle);
  --color-muted: var(--fg-muted);

  --container-unset: unset;

  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);

  --padding-container: var(--container-padding);
  --max-width-prose: 36rem;

  --shadow-all: 0 0 0 1px var(--border-default);
  --shadow-hover: 0 0 1px 1px var(--fg-canvas);

  --text-xxs: 0.6875rem;
  --text-md: 1.125rem;
  --text-2_5xl: 1.625rem;

  --tracking-*: initial;
  --tracking-wide: 0.8px;
  --tracking-prose: 0.3px;
}

@layer base {
  :root {
    --bg-calendar: #fbfaf8;
    --bg-accent: #b4841e;
    --bg-canvas: #f4f1ea;
    --bg-default: #fff;
    --bg-footer: #2b292b;
    --bg-hover: #f7f5f3;
    --bg-inverse: rgb(0 0 0 / 75%);
    --bg-progress: #14bd41;
    --bg-stripe: #fcfcfc;
    --bg-group: #ededed;
    --bg-subtle: #f9f7f4;

    --border-default: #e9e7e0;
    --fg-accent: #bf8a00;
    --fg-default: #252525;
    --fg-inverse: #fff;
    --fg-inverse-subtle: #b0b0b0;
    --fg-muted: #4a4a4a;
    --fg-subtle: rgb(0 0 0 / 60%);
    --image-filter: initial;
    --container-padding: 8%;
    --font-sans: "Assistant";
    --font-serif: "FrankRuhlLibre";
    --list-item-poster-width: 64px;
    --hero-gradient: linear-gradient(
      to top,
      rgb(0 0 0 / 55%),
      rgb(0 0 0 / 17%) 25%,
      transparent 40%,
      rgb(0 0 0 / 17%) 75%,
      rgb(0 0 0 / 55%) 100%
    );
    --drop-shadow-sm: 0 1px 2px rgb(0 0 0 / 15%);
    --drop-shadow-md: 0 3px 3px rgb(0 0 0 / 12%);
    --drop-shadow-xl: -5px 0px 20px rgb(0 0 0 / 50%);
    --drop-shadow-2xl: 0 25px 25px rgb(0 0 0 / 15%);
    --drop-shadow-lg: 0 4px 4px rgb(0 0 0 / 15%);
  }

  body {
    background-color: var(--bg-canvas);
    color: var(--fg-default);
    font-family:
      FrankRuhlLibre, "Iowan Old Style", Georgia, Cambria, "Times New Roman",
      Times, serif;
    font-feature-settings: "kern", "liga", "clig", "calt", "ss06", "lnum";
    font-kerning: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
  }

  img {
    filter: var(--image-filter);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --bg-calendar: #393938;
      --bg-accent: #aa7f33;
      --bg-canvas: #484745;
      --bg-default: #322f2f;
      --bg-hover: #3c393a;
      --bg-inverse: #322f2f;
      --bg-progress: #379634;
      --bg-group: #464646;
      --bg-stripe: #3c393a;
      --bg-subtle: #3e3d3c;
      --border-default: #484745;
      --fg-accent: #bf8a00;
      --fg-default: rgb(255 255 255 / 75%);
      --fg-muted: rgb(255 255 255 / 65%);
      --fg-subtle: #b2b0b0;
      --image-filter: brightness(0.8) contrast(1);
      --hero-gradient: unset;
      --drop-shadow-sm: 0 1px 2px rgb(0 0 0 / 80%);
      --drop-shadow-md: 0 3px 3px rgb(0 0 0 / 80%);
      --drop-shadow-2xl: 0 25px 25px rgb(0 0 0 / 65%);
      --drop-shadow-lg: 0 4px 4px rgb(0 0 0 / 25%);
    }
  }

  @media (width >= theme(--breakpoint-tablet)) {
    :root {
      --container-padding: 48px;
    }
  }

  @media (width >= theme(--breakpoint-laptop)) {
    :root {
      --container-padding: 80px;
    }
  }

  @font-face {
    font-display: swap;
    font-family: Assistant;
    font-style: normal;
    font-weight: 200 800;
    src: url("/fonts/Assistant/Assistant.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: FrankRuhlLibre;
    font-style: normal;
    font-weight: 300 900;
    src: url("/fonts/Frank-Ruhl-Libre/Frank-Ruhl-Libre_latin_300-900_normal.woff2")
      format("woff2");
    unicode-range:
      U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
      U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
      U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
}
