@import "tailwindcss";

@theme {
  --background-color-*: initial;
  --background-color-default: light-dark(#fff, #322f2f);
  --background-color-footer: #2b292b;
  --background-color-subtle: light-dark(#f9f7f4, #3e3d3c);

  --border-color-*: initial;

  --breakpoint-*: initial;
  --breakpoint-tablet: 768px;
  --breakpoint-tablet-landscape: 1024px;
  --breakpoint-laptop: 1360px;
  --breakpoint-desktop: 1840px;

  --color-*: initial;
  --color-accent: #bf8a00;
  --color-default: light-dark(#252525, rgb(255 255 255 / 75%));
  --color-hero-bg: #141414;
  --color-inherit: inherit;
  --color-inverse: light-dark(rgb(255 255 255 / 75%), #252525);
  --color-muted: light-dark(#4a4a4a, rgb(255 255 255 / 65%));
  --color-off-white: rgb(255 255 255 / 85%);
  --color-subtle: light-dark(rgb(0 0 0 / 60%), #b2b0b0);
  --color-white: #fff;

  --container-unset: unset;

  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);

  --padding-container: var(--container-padding);

  --shadow-all: 0 0 0 1px var(--border-default);

  --text-xxs: 0.6875rem;
  --text-md: 1.125rem;

  --tracking-*: initial;
  --tracking-wide: 0.8px;
  --tracking-prose: 0.3px;
}

@layer base {
  :root {
    --image-filter: initial;

    --container-padding: 8%;

    --font-sans: "Assistant";
    --font-serif: "FrankRuhlLibre";

    --drop-shadow-2xl: 0 25px 25px rgb(0 0 0 / 15%);

    color-scheme: light dark;
  }

  body {
    background-color: var(--bg-canvas);
    color: var(--fg-default);
    font-family:
      FrankRuhlLibre, "Iowan Old Style", Georgia, Cambria, "Times New Roman",
      Times, serif;
    font-feature-settings: "kern", "liga", "clig", "calt", "ss06", "lnum";
    font-kerning: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
  }

  img {
    filter: var(--image-filter);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --image-filter: brightness(0.8) contrast(1);

      --drop-shadow-2xl: 0 25px 25px rgb(0 0 0 / 65%);
    }
  }

  @media (width >= theme(--breakpoint-tablet)) {
    :root {
      --container-padding: 48px;
    }
  }

  @media (width >= theme(--breakpoint-laptop)) {
    :root {
      --container-padding: 80px;
    }
  }

  @font-face {
    font-display: swap;
    font-family: Assistant;
    font-style: normal;
    font-weight: 200 800;
    src: url("/fonts/Assistant/Assistant.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: FrankRuhlLibre;
    font-style: normal;
    font-weight: 300 900;
    src: url("/fonts/Frank-Ruhl-Libre/Frank-Ruhl-Libre_latin_300-900_normal.woff2")
      format("woff2");
    unicode-range:
      U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
      U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
      U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
}
