name: build & deploy
permissions:
  contents: read
  pull-requests: write

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: setup node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version-file: ".nvmrc"
          cache: "npm"

      - name: setup npm
        run: |
          ./npm_use.sh &&
          npm --version &&
          npm list -g --depth 0

      - name: Get @astro version
        id: get-astro-version
        run: |
          astro_version=$(cat package.json | jq '.dependencies.astro') 
          echo "@astro version: $astro_version"
          echo "astro_version=$astro_version" >> "$GITHUB_OUTPUT"
        shell: bash

      - name: Get sharp version
        id: get-sharp-version
        run: |
          sharp_version=$(cat package.json | jq '.dependencies.sharp') 
          echo "sharp: $sharp_version"
          echo "sharp_version=$sharp_version" >> "$GITHUB_OUTPUT"
        shell: bash

      - name: get astro cache
        id: astro-cache-build
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5
        with:
          path: node_modules/.astro
          key: astro-${{ steps.get-astro-version.outputs.astro_version }}-sharp-${{ steps.get-sharp-version.outputs.sharp_version }}-cache-v2-${{ github.run_id }}
          restore-keys: |
            astro-${{ steps.get-astro-version.outputs.astro_version }}-sharp-${{ steps.get-sharp-version.outputs.sharp_version }}-cache-v2-

      - name: install dependencies
        run: npm install

      - name: build
        run: npm run build

      - name: deploy
        uses: nwtgck/actions-netlify@4cbaf4c08f1a7bfa537d6113472ef4424e4eb654 # v3.0
        with:
          publish-dir: "./dist"
          production-branch: main
          github-token: ${{ secrets.GITHUB_TOKEN }}
          deploy-message: "Deploy from GitHub Actions"
          enable-pull-request-comment: true
          enable-commit-comment: true
          overwrites-pull-request-comment: true
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          timeout-minutes: 5
